body {
  background-color: #f7e7ce;
}

h1 {
  text-align: center;
  color: #834d21;
    font-size: 40px;
}

p {
  color: #986129;
}
.intro {
    text-align: center;
}
.about-me {

    
}

hr.solid {
  border-top: 3px solid beige;
}

h2 {
  text-align: center;
  color: #834d21;
   font-size: 35px;
}

a {
    
    font-size: 20px;
    color: #cc8d48; 
}

.project-1 , .project-2 , .project-3 {
    border: 3px beige solid;
    margin: 25px;
}
