body {
  background-color: #f7e7ce;
}

h1 {
  text-align: center;
  color: #834d21;
    font-size: 30px;
}

p {
  text-align: center;
  color: #986129;
}

.about-me {
    border: 4px brown dotted;
    
}

